/*
* Animation
*/

@keyframes loader {
    0% {
        height: 0;
    }

    20% {
        height: 10%;
    }

    25% {
        height: 24%;
    }

    43% {
        height: 41%;
    }

    56% {
        height: 50%;
    }

    66% {
        height: 52%;
    }

    71% {
        height: 60%;
    }

    75% {
        height: 76%;
    }

    94% {
        height: 86%;
    }

    100% {
        height: 100%;
    }
}

@keyframes tadaRound {
    0% {
        transform: rotate(-10deg);
    }

    10% {
        transform: rotate(9deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(9deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(9deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    70% {
        transform: rotate(9deg);
    }

    80% {
        transform: rotate(-10deg);
    }

    90% {
        transform: rotate(9deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

@keyframes tadaRoundShake {
    0% {
        transform: rotate(-10deg);
    }

    10% {
        transform: rotate(9deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(7deg);
    }

    40% {
        transform: rotate(-6deg);
    }

    50% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(-4deg);
    }

    70% {
        transform: rotate(3deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }

    20% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    90% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    80% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes referee {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 0%;
    }

    100% {
        bottom: -10%;
    }
}

.move-box,
.move-box--x {
    --x: 0;
    --y: 0;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    transform: translateZ(100px) rotateY(calc(var(--x) * 16deg)) rotateX(calc(var(--y) * -16deg));
}