/*
* Animation
*/
@keyframes tadaRound {
  0% {
    transform: rotate(-10deg);
  }

  10% {
    transform: rotate(9deg);
  }

  20% {
    transform: rotate(-10deg);
  }

  30% {
    transform: rotate(9deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(9deg);
  }

  60% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(9deg);
  }

  80% {
    transform: rotate(-10deg);
  }

  90% {
    transform: rotate(9deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

@keyframes tadaRoundShake {
  0% {
    transform: rotate(-10deg);
  }

  10% {
    transform: rotate(9deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(7deg);
  }

  40% {
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(-4deg);
  }

  70% {
    transform: rotate(3deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes arrow {
  0% {
    right: 0;
  }

  50% {
    right: -50px;
  }

  100% {
    right: 0;
  }
}

@keyframes referee {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 0%;
  }

  100% {
    bottom: -10%;
  }
}
 
@keyframes move {
  0% {
    transform: translate(0px, 0px,) rotate(-0deg);
  }

  12% {
    transform: translate(-10px, -10px) rotate(0deg);
  }

  36% {
    transform: translate(10px, -30px) rotate(-0deg);
  }

  60% {
    transform: translate(-10px, -30px) rotate(-0deg);
  }

  72% {
    transform: translate(0px, -20px) rotate(0deg);
  }

  84% {
    transform: translate(10px, -10px) rotate(-0deg);
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(2);
  }

  65% {
    opacity: 1;
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  85% {
    transform: scale(1);
  }

  95% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes chicken {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80%);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes chicken-right {
  0% {
    transform: translate(100%, -50%) rotate(-90deg);
  }
  50% {
    transform: translate(0%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(100%, -50%) rotate(-90deg);
  }
}

@keyframes chicken-top {
  0% {
    transform: translate(0, -100%) rotate(180deg);
  }

  50% {
    transform: translate(0%, -50%) rotate(180deg);
  }

  100% {
    transform: translate(0, -100%) rotate(180deg);
  }
}


@keyframes showBG {
  0% {
    transform: scale(0.08);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes ColorChange {
  0% {
    opacity: 0;
    // background-color: crimson;
  }

  100% {
    opacity: 1;
    // background-color: white;
  }
}

.move-box,
.move-box--x {
  --x: 0;
  --y: 0;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: translateZ(100px) rotateY(calc(var(--x) * 26deg)) rotateX(calc(var(--y) * -26deg));
}


// @keyframes loader {
//   0% {
//     height: 0;
//   }

//   20% {
//     height: 10%;
//   }

//   25% {
//     height: 24%;
//   }

//   43% {
//     height: 41%;
//   }

//   56% {
//     height: 50%;
//   }

//   66% {
//     height: 52%;
//   }

//   71% {
//     height: 60%;
//   }

//   75% {
//     height: 76%;
//   }

//   94% {
//     height: 86%;
//   }

//   100% {
//     height: 100%;
//   }
// }