/* font-family: "Bangers"; */
@font-face {
  font-family: "Bangers";
  src: url("../fonts/Bangers-Regular.ttf");
}

@font-face {
  font-family: "Titillium Web 600";
  src: url("../fonts/TitilliumWeb-SemiBoldttf");
  font-weight: 600;
}

@font-face {
  font-family: "Titillium Web 400";
  src: url("../fonts/TitilliumWeb-Regular");
  font-weight: 600;
}