/*
 *  Global elements
 */

$mainText: #f90f1c;
$line: rgba(6, 207, 213, 0.25);
$lineInner: #06cfd5;

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Bangers", cursive;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  user-select: none;
}

.logo {
  position: absolute;
  // top: 65px;
  top: 3%;
  right: 100px;
  z-index: 30;

  img {
    box-shadow: none;

  }

  @include respond-to('giant') {
    right: 30px;

  }
}

.hide-box{
  display: none;
}

h1,
h2 {
  margin: 0;
  color: $mainText;
  font-weight: normal;
  font-size: 90px;
  line-height: 1.2em;
  text-shadow: 5px 9px 0px #000000;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.6));
  pointer-events: none;
}

section {
  overflow: hidden;
}

.unsupported-box {
  visibility: hidden;
  display: none;
  width: 100%;
  height: inherit;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;

  h2 {
    color: $mainText;
  }

  p {
    font-family: 'Titillium Web',
      sans-serif;
    font-size: 42px;
    color: black;
  }

  @include respond-to('giant') {
    h2 {
      font-size: 30px;
      text-shadow: 2px 2px 0px #000000;
    }

    p {
      font-size: 18px;
    }
  }
}

.unsupported-box.unsupported-browser {
  display: flex;
  visibility: inherit;
}

section.unsupported-browser {
  display: none;
}

.type-letter {
  opacity: 0;
}

.arrow-img {
  width: 144px;
}

.round-img {
  width: 840px;
}

.fighter {
  cursor: pointer;
}


.hit-effect {
  pointer-events: none;
  position: absolute;
  display: block;
  width: 500px;
  opacity: 0;
  z-index: 999;
  top: -90%;
  left: -50%;

  .hit-img {
    width: 100%;
  }
}

.big-boss.activeHit,
.virusLeft.activeHit,
.virusRight.activeHit,
.main-target.activeHit {
  .hit-effect {
    opacity: 1;
  }
}

.virusLeft,
.virusRight {
  .hit-effect {
    width: 400px;
    top: -100%;
    left: -100%;
  }
}

.big-boss {
  .hit-effect {
    top: 300px;
    left: 70px;
  }
}

.background {
  z-index: 20;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  &.active {
    animation: ColorChange 3000ms cubic-bezier(0.4, 0.0, 0.2, 1);
      background-color: #5dccd3;
  }
}

.logo.active {
  transition: 3000ms ease;
  transform: translate(50%, -50%) scale(1.6);
  top: 50%;
  right: 50%;

  &.move{
      right: 54%;
  }
}

.hide-box {
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 50%;
  width: 100%;
  height: 180px;
  z-index: 29;
  overflow: hidden;

  &--color{
    z-index: 2;
    background-color: #5dccd3;
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
  }

   &--color+img{
     filter: none;
   }


  img {
    transition: 3000ms ease;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    z-index: 1;
    position: absolute;
  }

  &.move {
    img {
    transform: translate(110%, -50%);
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.3));
    }
  }
}
/*
* Final text
*/

.top-text{
  transform: translate(-30px, -35px);
  display: inline-block;
}