.fight-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  background-image: url(../images/fight-ringBG.png);
  // background-image: url(../images/fight-ringBG.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .shadow-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
        #000000 0%,
        rgba(196, 196, 196, 0) 94.82%);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: radial-gradient(47.61% 47.61% at 50% 50%,
          rgba(255, 255, 255, 0) 0%,
          rgba(128, 128, 128, 0.397515) 75.49%,
          rgba(0, 0, 0, 0.48) 97.59%);
    }

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background: linear-gradient(90deg,
          #000000 0%,
          rgba(196, 196, 196, 0) 94.82%);
      mix-blend-mode: multiply;
      transform: rotate(179.98deg);
    }
  }

  &--animate-box {
    position: absolute;
    display: block;
    width: 45%;
    height: 70%;
    right: 25%;
    left: 25%;
    bottom: 20%;
    top: 16%;
    // background-color: yellowgreen;
  }
}

/*
* round-cards
*/
.round-card {
  @include animate(all);
  animation: none;
  position: absolute;
  top: 10%;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  &.active {
    animation: zoom 1000ms cubic-bezier(0, 0, 0.58, 1);
    opacity: 1;
    visibility: inherit;
    pointer-events: all;
  }
}

/*
* progress-bar
*/

.slot {
  position: relative;
  height: 80%;
  margin-top: auto;
  margin-left: 73px;
  margin-right: auto;

  &--box {
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    width: 240px;
    height: 91px;
    background-image: url(../images/slot.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--image {
    @include animate(all);
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 15px 5px;
    border: 4px solid white;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;

    img {
      max-width: inherit;
      width: 50px;
    }
  }
}

.progress-bar {
  height: 100%;
  padding: 0 28px;
  position: absolute;
  bottom: -15px;
  // overflow: hidden;
  width: 100%;

  span {
    display: flex;
    flex-direction: column-reverse;
  }
}

.bar {
  background: $line;
  height: 100%;
  width: 34px;
  border-radius: 30px;
}

.progress {
  @include animate(all);
  position: relative;
  height: 9%;
  background: $lineInner;
  color: #fff;
  margin-top: 21px;
  padding: 17px;
  width: 0;

  &-percent {
    position: absolute;
    top: -20px;
    left: 50px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
  }

  &-enemy {
    position: absolute;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    top: -10px;
    left: -4px;
    width: 40px;
    height: 40px;
    border: 3px solid white;
    background-color: white;
    border-radius: 50%;

    img {
      max-width: inherit;
      width: 60px;
    }
  }
}

/*
* Hands
*/
.left-hand {
  position: absolute;
  left: 13%;
  bottom: -28%;
  width: 25%;

  &--effect {
    margin-right: auto;
    top: -30%;
    left: 0;
    transform: rotateZ(-20deg);
  }
}

.right-hand {
  right: 18%;
  bottom: -23%;
  width: 25%;

  &--effect {
    margin-left: auto;
    top: -36%;
    right: 17%;
  }
}

// .left-hand,
.right-hand {
  animation: referee 1000ms cubic-bezier(0.4, 0, 1, 1),
    move 2500ms linear infinite 1000ms;

  position: absolute;
  z-index: 100;
  opacity: 1;

  &--effect {
    pointer-events: none;
    position: absolute;
    display: block;
    width: 546px;
    opacity: 0;
  }
}

.left-hand {
  animation: referee 1000ms cubic-bezier(0.4, 0, 1, 1),
    move 2500ms linear infinite 2000ms;

  position: absolute;
  z-index: 100;
  opacity: 1;

  &--effect {
    pointer-events: none;
    position: absolute;
    display: block;
    width: 546px;
    opacity: 0;
  }
}

.main-target {
  left: 49%;
  top: 25%;
  position: absolute;
  transform: rotate(-10deg);

  &-box {
    position: relative;
    width: 210px;
    height: 210px;
    border: 10px solid white;
    border-radius: 50%;
    overflow: hidden;

    img {
      object-fit: cover;
      height: inherit;
    }
  }

  &.active {
    animation: tadaRound 4000ms infinite ease-out;

    .angry-box {
      @include animate(all);
      background-image: url(../images/angry1.svg);
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      width: 110px;
      height: 110px;
      display: block;

      position: absolute;
      z-index: 3;
      left: -36px;
      transform: rotateZ(-120deg);

    }

    .angry-box--text {
      @include animate(all);
      background-image: url(../images/angry2.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 230px;
      height: 150px;
      display: block;

      position: absolute;
      z-index: 3;
      left: 140px;
      top: -40%;
    }
  }

  &.active>.main-target-box>.target-bg {
    @include animate(all);
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(255, 0, 0, 0.5);
    z-index: 2;
  }

  &.stars-added {
    animation: none;
    pointer-events: none;
    left: 30%;
    top: 42%;

    .star-box {
      @include animate(all);
      animation: tadaRound 4000ms infinite ease-out;
      background-image: url(../images/star.png);
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      width: 366px;
      height: 215px;
      display: block;

      position: absolute;
      z-index: 3;
      left: -88px;
      top: -90px;
    }
  }
}

.virusRight {
  // @include animate(all);
  // animation: tadaRound 1000ms infinite ease-out;

  opacity: 1;
  max-width: 100px;
  width: 100%;
  height: auto;
  position: absolute;
  left: 18%;
  top: 60%;
}

.virusLeft {
  // @include animate(all);
  // animation: tadaRound 1000ms infinite ease-out;

  max-width: 138px;
  width: 100%;
  height: auto;
  position: absolute;
  left: 33%;
  top: 35%;
}

.reffery-win {
  position: absolute;
  bottom: -20%;
  right: 12%;
  max-width: 400px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.active {
    animation: referee 1000ms cubic-bezier(0.4, 0, 1, 1),
      move 3000ms linear infinite 1000ms;
  }

  &--text {
    opacity: 0;
    width: 370px;
    height: 228px;
    position: absolute;
    top: -17%;
    left: -48%;
    background-image: url(../images/reffery-text.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    p {
      display: block;
      font-family: 'Titillium Web', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 115%;
      margin-top: 50px;
      padding: 0 40px 0 105px;
    }

    &.active {
      animation: zoom-in 1000ms ease-out;
      opacity: 1;
    }
  }
}

/*
* active class
*/
.active {
  opacity: 1;
  visibility: inherit;
  pointer-events: all;
}