.start {
  @include animate(all);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  background-image: url(../images/fight-ring.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  pointer-events: all;
  visibility: inherit;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg,
        #000000 0%,
        rgba(196, 196, 196, 0) 94.82%);
    mix-blend-mode: multiply;
    transform: rotate(179.98deg);
  }

  &--wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
    height: 100%;
    width: 100%;
    // background-image: url(../images/wrapperBG.png);
    background-position: bottom;
    background-size: cover;
    // z-index: 1;
    // clip-path: polygon(0 0, 0% 70%, 100% 93%, 100% 7%, 0 40%);
  }

  &--wrapper-bg {
    position: absolute;
    width: 100%;

    img {
      width: 100%;
    }
  }

  &--text {
    position: relative;
    margin-left: auto;
    margin-right: 25%;
    width: 705px;
    height: 365px;
    z-index: 3;

    @include respond-to('full_xl') {
      margin-right: 15%;
    }

    h2 {
      pointer-events: none;
      z-index: 5;
    }
    h2.final-title{
      display: none;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }

    .animation-title{
      .letter {
        opacity: 0;
        transition: opacity 1000ms;
      }

      .letter--show {
        opacity: 1;
        transition: opacity 1000ms;

      }
    }
  }

  &--referee {
    animation: referee 3000ms cubic-bezier(0.4, 0, 1, 1),
      move 3000ms linear 3000ms;

    position: absolute;
    display: flex;
    bottom: -10%;
    left: 10%;
    z-index: 2;
    max-width: 500px;
    height: 100%;

    @media screen and (max-width: 1900px) {
      left: 4%;   
    }

    img {
      object-fit: contain;
      object-position: bottom;
    }
  }

  &--arrow {
        transform: rotate(2deg) translateX(50px);
    position: absolute;    
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    cursor: pointer;


    &:hover {
      animation: none;
      right: -50px;
    }

    &-next {
      @include animate(all);
      bottom: 42px;
      transform: translateX(-100%)
    }

    &.active {
      animation: arrow 2000ms infinite;
      opacity: 1;
      visibility: inherit;
      pointer-events: all;
    }

    
  }

  &--arrow-text {
    pointer-events: none;
    text-transform: uppercase;
    font-family: 'Bangers', cursive;
    font-weight: 400;
    font-size: 32px;
    line-height: 109%;

    margin: 0;
    color: $mainText;
    position: absolute;
    right: 55%;
    top: 50%;
    transform: translate(50%, -50%);
  }
}

.win-page {
  .start--text {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    h2 {
      font-size: 140px;
      line-height: 109%;
    }
    
    &.active{
      .animation-title{
        display: none;
      }
      .final-title {
        font-size: 90px;
        display: block;
        animation: zoom 1000ms cubic-bezier(0, 0, 0.58, 1);
        opacity: 1;
        visibility: inherit;
        pointer-events: all;

        span{
          font-size: 140px;
        }
      }
    }

  }
  
  .start--arrow {
    display: none;
    visibility: hidden;
  }
  
}

