.hit-effect {
    pointer-events: none;
    position: absolute;
    display: block;
    width: 500px;
    opacity: 0;
    z-index: 999;
    top: -90%;
    left: -50%;

    .hit-img {
        width: 100%;
    }
}

.big-boss.activeHit,
.virusLeft.activeHit,
.virusRight.activeHit,
.main-target.activeHit {
    .hit-effect {
        opacity: 1;
    }
}

.virusLeft,
.virusRight {
    .hit-effect {
        width: 400px;
        top: -100%;
        left: -100%;
    }
}

.big-boss {
    .hit-effect {
        top: 300px;
        left: 70px;
    }
}



//   &--effect {
//     margin-right: auto;
//     top: -30%;
//     left: 0;
//     transform: rotateZ(-20deg);
//   }
// }

// .right-hand {


//   &--effect {
//     margin-left: auto;
//     top: -36%;
//     right: 17%;
//   }
// }

// &--effect {}

// &--effect {
//     pointer-events: none;
//     position: absolute;
//     display: block;
//     width: 546px;
//     opacity: 0;
// }